.logoAp {
    filter: invert();
    width: 12%;
    height: 12%;
}

.imgPerfil {
    width: 25%;
    height: 25%;
}

.nombrePerfil {
    font-size: 5rem;
    border-style: solid;
}

.apellido {
    color: black;
}

#sobre {
    background-color: #cccc
}

