/* Seccion inicio */

#inicio {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/assets/img/inicio.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#navbar {
    position: fixed;
    width: 100%;
}

.logoAp {
    filter: invert();
    width: 100%;
    height: 100%;
}

#links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#icono-nav {
    text-decoration: none;
    color: #fff;
    margin: 0px 12px;
    font-weight: 400;
    transition: 0.5s;
    display: block;
}

#icono-nav:hover {
    color: purple;
}

.directorio li a{
    text-decoration: none;
    color: #fff;
    margin: 0px 12px;
    font-weight: 400;
    transition: 0.5s;
}

.directorio li a:hover {
    color: purple;
}

.presentacion h2{
    color: #fff;
}

.apellido {
    color: purple;
    font-size: 3rem;
}

i.fa-brands.fa-codepen.fa-xl,i.fa-brands.fa-linkedin.fa-xl,i.fa-brands.fa-github.fa-xl,i.fa-solid.fa-user-lock.fa-xl {
    color: #fff;
    transition: 0.5s;
}

i.fa-brands.fa-codepen.fa-xl:hover {
    color: purple;
}

i.fa-brands.fa-linkedin.fa-xl:hover {
    color: purple;
}

i.fa-brands.fa-github.fa-xl:hover {
    color: purple;
}

i.fa-solid.fa-user-lock.fa-xl:hover {
    color: purple;
}


ul.list-group.list-group-horizontal{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}

.inicio {
    max-width: 100%;
    height: 100%;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio h1 {
    color: #fff;
}

.inicio h2 {
    font-size: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}

.inicio h4 {
    color: #fff;
}

.inicio p {
    color: #fff;
    max-width: 100%;
    margin: 5% auto;
    font-size: 100%;
    text-align: center;
}

.inicio a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #ffff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

.inicio a:hover {
    background-color: purple;
}

/* Seccion Sobre mi */

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: black;
    display: flex;
}


.imgPerfil {
    max-width: 25%;
    margin-right: 10%;
}

.imgPerfil img {
    padding: 5%;
    width: 100%;
    border-radius: 20px;
    background-color: #3f3f3f;
}

.sobremi {
    margin: 0% 10%;
}

.titulosobremi {
    font-size: 30px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

.sobremi h2 span {
    color: purple;
}

.sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: black;
    margin-bottom: 12px;
}

.sobremi h4 {
    font-size: 28px;
    margin-bottom: 25px;
}

.sobremi ul {
    list-style: none;
}

.sobremi ul li {
    margin: 12px 0;
}

.sobremi ul li strong {
    display: inline-block;
    color: purple;
    width: 130px;
}

.sobremi ul li span {
    background-color: purple;
    color: #ffff;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

/* Seccion estudios y experiencia */

#resumen {
    background-color: #e6e6e6;
    padding: 50px 50px;
    text-align: center;
}

#resumen .contenido-seccion {
    max-width: 80%;
    margin: auto;
    padding: 0 10px;
}

#resumen .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
}

#resumen .info-resumen {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.titulo {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.colresumen {
    width: 45%;
}

#resumen .colresumen table {
    margin-top: 30px;
    border-collapse: collapse;
}

.datos {
    width: 50%;
    border-bottom: 1px solid #bab9b9;
}

.colresumen table h4 {
    margin-top: 10px;
}

.colresumen table h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.colresumen table h6 {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.colresumen table p {
    font-size: 14px;
}

#resumen .descripcion {
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

/* Seccion habilidades */

.skills {
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.contenido-skills {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px 20px;
}

.fila-skills {
    display: flex;
}

.col-skills {
    width: 50%;
    padding: 0 20px;
}

.col-skills h3 {
    font-size: 28px;
    margin-bottom: 25px;
}

.skill span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.htmlcss, .js, .bootstrap, .comunicacion, .equipo, .creatividad {
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
}

.barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: purple;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.htmlcss {
    width: 85%;
    animation: 2s htmlcss forwards;
}

.js {
    width: 75%;
    animation: 2s js forwards;
}

.bootstrap {
    width: 80%;
    animation: 2s bootstrap forwards;
}

.comunicacion {
    width: 80%;
    animation: 2s comunicacion forwards;
}

.equipo {
    width: 85%;
    animation: 2s equipo forwards;
}

.creatividad {
    width: 90%;
    animation: 2s creatividad forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes equipo {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes creatividad {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}


/* Seccion Portfolio */

#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

.titulo-portfolio {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

.proyecto:hover img {
    filter: grayscale(0);
}

.info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

.info:hover {
    opacity: 1;
    bottom: 0;
}

/* Seccion contacto */

#contacto {
    padding: 100px 15px;
    background-color: #f3f3f3;
}

.titulo-contacto {
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    text-align: center;
}

.contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .fila {
    margin-bottom: 15px;
}

.mitad {
    display: flex;
    justify-content: space-between;
}

.contenedor-form input, textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

.mitad input {
    width: 48%;
}

.input-full {
    width: 100%;
}

.btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.btn-enviar:hover {
    background-color: purple;
    color: #ffff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 20px;
}

/* Seccion responsive */

@media screen and (max-width: 980px) {
    .iconos{
        display: none;
    }
    #links {
        display: block;
    }
    #links.directorio {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;
    }
    #links.directorio ul {
        display: block !important;
        text-align: center;
    }
    #links.directorio ul li {
        border-bottom: 1px solid #ffff;
        padding: 10px 0;
    }
    #icono-nav {
        display: block;
    }
    .presentacion h2 {
        font-size: 48px;
    }
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    .imgPerfil {
        max-width: 200px;
        margin: auto;
    }
    .imgPerfil img {
        padding: 8px;
    }
    .titulo {
        text-align: center;
    }
    .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    #resumen {
        padding: 50px 15px;
        display: block;
    }
    .resumen {
        margin: 10px auto;
    }
    #skills {
        padding: 50px 20px;
    }
    #resumen {
        padding: 50px 0;
    }
    #resumen {
        display: flex;
    }
    .proyecto {
        margin: 10px auto;
    }
    #contacto {
        padding: 50px 15px;
    }
    .mitad {
        margin-bottom: 25px;
        display: block;
    }
    .mitad input {
        width: 100px;
        margin-bottom: 15px;
    }
}