/* Seccion inicio */

#inicio {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/assets/img/inicio.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#navbar {
    position: fixed;
    width: 100%;
}

.logoAp {
    filter: invert();
    width: 100%;
    height: 100%;
}

#links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#icono-nav {
    text-decoration: none;
    color: #fff;
    margin: 0px 12px;
    font-weight: 400;
    transition: 0.5s;
    display: block;
}

#icono-nav:hover {
    color: purple;
}

.directorio li a{
    text-decoration: none;
    color: #fff;
    margin: 0px 12px;
    font-weight: 400;
    transition: 0.5s;
}

.directorio li a:hover {
    color: purple;
}

.presentacion h2{
    color: #fff;
}

.apellido {
    color: purple;
    font-size: 3rem;
}

i.fa-brands.fa-codepen.fa-xl,i.fa-brands.fa-linkedin.fa-xl,i.fa-brands.fa-github.fa-xl,i.fa-solid.fa-user-lock.fa-xl {
    color: #fff;
    transition: 0.5s;
}

i.fa-brands.fa-codepen.fa-xl:hover {
    color: purple;
}

i.fa-brands.fa-linkedin.fa-xl:hover {
    color: purple;
}

i.fa-brands.fa-github.fa-xl:hover {
    color: purple;
}

i.fa-solid.fa-user-lock.fa-xl:hover {
    color: purple;
}


ul.list-group.list-group-horizontal{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}

.inicio {
    max-width: 100%;
    height: 100%;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio h1 {
    color: #fff;
}

.inicio h2 {
    font-size: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}

.inicio h4 {
    color: #fff;
}

.inicio p {
    color: #fff;
    max-width: 100%;
    margin: 5% auto;
    font-size: 100%;
    text-align: center;
}

.inicio a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #ffff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

.inicio a:hover {
    background-color: purple;
}

/* Seccion Sobre mi */

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: black;
    display: flex;
}


.imgPerfil {
    max-width: 25%;
    margin-right: 10%;
}

.imgPerfil img {
    padding: 5%;
    width: 100%;
    border-radius: 20px;
    background-color: #3f3f3f;
}

.sobremi {
    margin: 0% 10%;
}

.titulo {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.sobre mi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

.sobre mi h2 span {
    color: purple;
}

.sobre mi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.sobre mi p {
    font-size: 14px;
    line-height: 25px;
    color: #56565656;
    margin-bottom: 12px;
}

/* Seccion Servicios */

#servicios {
    padding: 0px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

.titulo-servicios {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

.servicios {
    max-width: 350px;
    background-color: #ffff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.servicios:hover {
    box-shadow: 5px 5px 5px #56565656, -5px -5px 10px #8a8a8a8a;
}

.servicios h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

.icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

.servicios hr {
    width: 30%;
    margin: auto;
    color: black;
    margin-bottom: 25px;
}

.servicios ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.servicios p {
    font-size: 14px;
    line-height: 22px;
}

/* Seccion habilidades */

#skills {
    background: #f3f3f3;
    text-transform: uppercase;
    list-style: none;
}

.skills h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    text-align: center;
}

.skills h4 {
    margin: 5px;
    color: black;
}

.skills {
    width: 500px;
    margin: 60px auto;
    color: #ffff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0, 10px, 10px rgba(0, 0, 0, 0.22);
}

.skills li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .12), 0 10px 10px rgba(0, 0, 0, .22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, violet 0%, purple 100%);
}

.html {
    width: 85%;
    animation: html 3s;
}

.css {
    width: 75%;
    animation: css 3s;
}

.js {
    width: 70%;
    animation: js 3s;
}

.bs {
    width: 80%;
    animation: bs 3s;
}

.mysql {
    width: 80%;
    animation: mysql 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes bs {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes mysql {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

/* Seccion Portfolio */

#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

.titulo-portfolio {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

.proyecto:hover img {
    filter: grayscale(0);
}

.info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

.info:hover {
    opacity: 1;
    bottom: 0;
}

/* Seccion contacto */

#contacto {
    padding: 100px 15px;
    background-color: #f3f3f3;
}

.titulo-contacto {
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    text-align: center;
}

.contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .fila {
    margin-bottom: 15px;
}

.mitad {
    display: flex;
    justify-content: space-between;
}

.contenedor-form input, textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

.mitad input {
    width: 48%;
}

.input-full {
    width: 100%;
}

.btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.btn-enviar:hover {
    background-color: purple;
    color: #ffff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 20px;
}

/* Seccion responsive */

@media screen and (max-width: 800px) {
    .iconos {
        display: none;
    }
    #links {
        display: none;
    }
    #links.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    #links.responsive ul {
        display: block !important;
        text-align: center;
    }
    #links.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    .presentacion h2 {
        font-size: 48px;
    }
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    .imgPerfil {
        max-width: 200px;
        margin: auto;
    }
    .imgPerfil img {
        padding: 8px;
    }
    .titulo {
        text-align: center;
    }
    .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    .servicios {
        margin: 10px auto;
    }
    #skills {
        padding: 50px 20px;
    }
    #portfolio {
        padding: 50px 0;
    }

    #portfolio .fila {
        display: flex;
    }
    .proyecto {
        margin: 10px auto;
    }
    #contacto {
        padding: 50px 15px;
    }
    .mitad {
        margin-bottom: 25px;
        display: block;
    }
    .mitad input {
        width: 100px;
        margin-bottom: 15px;
    }
}